body {
    background-image: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

div.main {
    width: 600px;
    margin: auto;
    background-color: rgb(255, 247, 231);
    min-height: 95vh;
    border-radius: 15px;
    text-align: center;
}








.grid-container {
    width: 428px;
    column-width: 143px;
    margin: auto;
    display: grid;
    row-gap: 15px;
    grid-template-columns: auto auto auto;
    text-align: left;

}

.grid-item4 {
    grid-column: 1 / span 3;
}

.grid-item6 {
    grid-column: 1 / span 3;
}

.grid-item7 {
    grid-column: 1 / span 3;
}

.grid-item3 {
    position: relative;
}






img.logo {
    margin-top: 12px;
}

input:hover {
    background-color: rgb(255, 252, 247);
}

select:hover {
    background-color: rgb(255, 252, 247);
}

select:focus {
    outline: none;
}

input.stan {
    border-width: 0px 0px 2px 0px;
    border-color: wheat;
    height: 26px;

}

input.phon {
    border-width: 0px 0px 2px 0px;
    border-color: wheat;
    height: 30px;

}

select.country {
    border-width: 0px 0px 2px 0px;
    border-color: wheat;
    height: 30px;
    background-color: rgb(255, 255, 255);
}

textarea:focus,
input:focus {
    outline: none;
}

table {
    margin: 0 auto;
    /* or margin: 0 auto 0 auto */
}

#firstname {
    width: 180px;
}

#lastname {
    width: 180px;
}

#email {
    width: 424px;
}

#address {
    width: 424px;
}

#country {
    width: 240px;
}

#city {
    width: 160px;
}

#state {
    width: 128px;
}

#post {
    width: 100px;
}

#number {
    width: 180px;
}

.phon {
    width: 182px;
}

#signin {
    width: 180px;
}

#signout {
    width: 180px;
}
#roomselect {
    color: wheat;
}




input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: wheat;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/* Customize the label (the container) */
.container {
    display: inline;
    position: relative;
    padding-left: 35px;
    
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    margin-top: 12px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: wheat;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }




