body{
    background-image: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
div.main{
    width: 600px;
    margin: auto;
    background-color: rgb(255, 247, 231);
    min-height: 95vh;
    border-radius: 15px;
    text-align: center;
}
img.logo{
    margin-top: 12px;
}
input:hover{
    background-color: rgb(255, 252, 247);
}
select:hover{
    background-color: rgb(255, 252, 247);
}
select:focus{
    outline: none;
}
input.stan{
    border-width: 0px 0px 2px 0px;
    border-color: wheat;
    height: 26px;

}
select.country{
    border-width: 0px 0px 2px 0px;
    border-color: wheat;
    height: 30px;
    background-color: rgb(255, 255, 255);
}
textarea:focus, input:focus{
    outline: none;
}
table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
  }
#firstname{
    width: 180px;
}
#lastname{
    width: 180px;
}
#email{
    width: 424px;
}
#address{
    width: 424px;
}
#country{
    width: 428px;
}
#city{
    width: 160px;
}
#state{
    width: 120px;
}
#post{
    width: 80px;
}
#number{
    width: 180px;
}